<?xml version="1.0"?>

<model>
  <name>kinect_camera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Philip Frieling</name>
    <email>frielingphilip@yahoo.de</email>
  </author>

  <description>
    Kinect camera which can publish pointclouds
  </description>
</model>
